body {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
}

.content {
  display: inline-flex;
  width: auto;
  justify-content: center;
}

.output {
  align-self: center;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 20px;
}

.player1,
.player2 {
  line-height: 3rem;
  margin: 0px 50px;
  background-color: white;
  border-radius: 10%;
}

.diceOutput1,
.diceOutput2 {
  display: inline-flex;
  margin-top: 20px;
}

#dice2-1,
#dice3-1,
#dice4-1,
#dice2-2,
#dice3-2,
#dice4-2 {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin: 20px 20px;
  border: 1px solid black;
  justify-content: center;
  border-radius: 10%;
  display: none;
  background-color: white;
}

#dice1-1,
#dice1-2 {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin: 20px 20px;
  border: 1px solid black;
  justify-content: center;
  border-radius: 10%;
  display: flex;
  background-color: white;
}

input[type="number"] {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

#restart {
  margin-bottom: 20px;
}

input[type="submit"],
button {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  width: auto;
  height: auto;
  padding: 10px;
}

label[for="d4"],
label[for="d6"],
label[for="d8"],
label[for="d10"],
label[for="d12"],
label[for="d20"] {
  font-size: 1.2rem;
}
